.no-decoration1 {
    text-decoration: transparent!important;
}

.square {
    border: solid;
}

.summary-category {
    border-radius: 15px;
    background-color: #0b8712;
}

.summary-product {
    border-radius: 15px;
    background-color: #0B5587;
}

.no-decoration {
    text-decoration: transparent!important;
    color:rgb(255, 255, 255);
}

.no-decoration:hover {
    color:rgb(235, 215, 35);
}

.ui-breadcrumb{
    background-color: transparent!important;
}

form div {
    margin-bottom: 10px;
}